{% extends 'layout.html' %}

{% block content %}

    <form action="/contacts" method="get" class="tool-bar">
        <label for="search">Enter person's email to search: </label>
        <input id="search" type="email" name="q" value="{{ request.args.get('q') or '' }}"/>
        <input type="submit" value="Search"/>
    </form>

    <table>
        <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
            {% for i in range(contacts["first_names"]|length) %}
                <tr>
                    <td>{{ contacts["first_names"][i] }}</td>
                    <td>{{ contacts["last_names"][i] }}</td>
                    <td>{{ contacts["emails"][i] }}</td>
                </tr>
            {% endfor %}

            {% if contacts["first_names"]|length == 1  %}
                <a href="/contacts">Go back</a>
            {% endif %}
            <div>
                <a href="/add_contact">Create contact</a>
            </div>
        </tbody>
    </table>
{% endblock %}
