{% extends 'layout.html' %}

{% block content %}

    <form action="/view" method="get" class="tool-bar">
        <label for="search">Enter person's email to search: </label>
        <input id="search" type="email" name="q" value="{{ request.args.get('q') or '' }}"/>
        <input type="submit" value="Search"/>
    </form>

    <table>
        <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact["first"] }}</td>
                    <td>{{ contact["last"] }}</td>
                    <td>{{ contact["email"] }}</td>
                </tr>
            {% endfor %}

            {% if contacts|length == 1  %}
                <a href="/view">Go back</a>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
